body {
  font-family: 'Odibee Sans', cursive;
  text-shadow: 2px 2px 2px;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100PX,Auto);
}
.one {
  grid-column: 2;
  grid-row: 1;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 2;
}
.three {
  grid-column: 2 / 4;
  grid-row: 3;
}
.four {
  grid-column: 2;
  grid-row: 4;
}
.five {
  grid-column: 3 ;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 1;
}
.avatar {
  border-radius: 50%;
}
.job {
  width: 100px;
  height: auto;
  border-radius: 50%;
  }
p {
  vertical-align: top;
}